body {
  background-color: rgb(230, 230, 230);
  padding: 20px;
  overflow: hidden;
  padding: 20px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100vw;
}

header {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
}

input {
  width: 60%;
  height: 25px;
  padding: 0px 5px;
  background-color: rgb(230, 230, 230);
  border: solid 1px red;
  border-radius: 4px;
}

.btn-search {
  margin: 0px 2px;
  height: 27px;
}



